body{
    background: black;
}

#mainbody{
    margin-left: 40%;
    margin-top: 14%;
    background: linear-gradient(#16b3b4, #103880);
    width: 250px;
    height: 390px;
    border: solid 6px;
    border-color: yellow;
    border-radius: 12px;
}
#screen{
   border-width: 5px;
    margin-left: 18px;
    width: 85%;
    height: 40px;
    margin-top: 13px;
    border-color: yellow;
    border-radius: 8px;
    font-size: xx-large;
    font-family: sans-serif;
    pointer-events: none;
}
.but{
    width: 200px;
    height:334px;
    margin-left: 10px;
    
}
button{
    width: 31px;
    height: 45px;
    margin-top: 16px;
    background: linear-gradient(#16b3b4, #103880);
    margin-left: 16px;
    border: solid steelblue;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(#0aafaf, #0b4dc7);
}
/* Header */
#header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: rgb(241, 237, 237);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: static;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover
#navbar li a:hover:active {
    color: #008178;
}

#navbar li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #008178;
    position: absolute;
    bottom: -4px;
    left: 2px;
}

